* {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  padding: 0 14rem 0 14rem;
}

.mainwrapper {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  align-items: center;
  margin-bottom: 10rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: #2e75b8;
  position: fixed;
  top: 0;
  color: white;
  z-index: 100;
}

.header__logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 2rem;
}

.header__logo-text {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  /*color: rgb(33,160,56) цвет сбера*/
}
.header__logo-img {
  width: 55px;
}
.header__logo-img img:hover,
.footer__logo-block-img img:hover {
  filter: brightness(0.75);
}

.header__lang-switch {
  display: flex;
  font-size: 18px;
}

.header__lang-switch-text {
  font-size: 18px;
  font-weight: 500;
}

.header__lang-switch-text-rus {
  color: rgb(212, 212, 212);
}

.header__nav-menu {
  gap: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav-menu a {
  font-size: 18px;
  color: inherit;
  text-decoration: no;
  font-weight: 700;
}

.header__nav-menu a:hover {
  color: rgb(212, 212, 212);
  transition-duration: 0.2s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid black;
  min-width: 300px;
  width: 28%;
  position: relative;
  transition: all 5s ease-in-out;
}

.modal__wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.modal__wrapper .close:hover {
  color: #1f87ff;
}

.modal__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.modal__field {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2rem;
}

.modal__field label {
  font-size: 16px;
  font-weight: 500;
  width: 110px;
}

.modal__field input {
  padding: 5px 12px;
  font-size: 14px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 73%);
  border-radius: 15px;
}

.modal__field textarea {
  padding: 1rem 2.5rem;
  font-size: 14px;
  border: 1px solid hsl(0, 0%, 73%);
  border-radius: 15px;
}

.modal__button {
  padding: 1rem 2.5rem;
  align-self: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #bababa;
  border-radius: 20px;
  width: fit-content;
}

.modal__button:hover {
  background-color: #1f87ff;
  transition-duration: 0.2s;
  color: white;
}

/* main {
  min-height: 100vh;
} */
.about {
  display: flex;
  flex-direction: column;
}

.about__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.about__content {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.about__content-pic {
  width: 50rem;
}

.about__content-pic img {
  border-radius: 60px;
}

.about__content-text {
  width: 50rem;
  font-size: 20px;
  padding: 4rem;
  background-color: rgb(212, 212, 212);
  border-radius: 60px;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.adv {
  display: flex;
  flex-direction: column;
}

.adv__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.adv__first-block {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  margin-bottom: 6rem;
  justify-content: center;
}

.adv__first-block-elem {
  width: 48rem;
  height: 20rem;
  border-radius: 60px;
  background-color: rgb(106, 155, 199);
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.adv__first-block-elem img {
  width: 15rem;
}

.adv__first-block-elem p {
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: white;
  font-weight: 500;
}

.adv__second-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
}

.adv__second-block-elem {
  width: 21rem;
  height: 21rem;
  border-radius: 60px;
  background-color: rgb(106, 155, 199);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.adv__second-block-elem img {
  width: 14rem;
  margin-top: 0.7rem;
}

.adv__second-block-elem p {
  font-size: 1.7rem;
  margin-left: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
}

.services__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.services__three-block {
  display: flex;
  flex-direction: row;
  gap: 7rem;
  margin-bottom: 5rem;
}

.services__three-block-elem {
  width: 34rem;
  height: 47rem;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.services__three-block-elem:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.services__three-block-elem-title {
  padding-top: 1.5rem;
  font-weight: 800;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.services__three-block-elem-text {
  font-size: 1.7rem;

  font-weight: 500;
  width: 30rem;
}

.services__last-block {
  display: flex;
  flex-direction: row;
  gap: 22rem;
}

.services__last-block-elem {
  width: 47rem;
  height: 37rem;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.services__last-block-elem:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.services__last-block-elem-title {
  font-weight: 800;
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.services__last-block-elem-text {
  font-size: 1.7rem;
  color: white;
  font-weight: 500;
  width: 40rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1300px;
}

.form__title {
  font-size: 36px;
  font-weight: 700;
}

.form__description {
  margin-top: 3rem;
  font-size: 16px;
}

.form__wrapper {
  border-radius: 20px;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 4rem;
  margin-top: 3rem;
  width: 100%;
  padding: 5rem 5rem;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.form__wrapper-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4rem;
}

.form__wrapper-column-field {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  align-items: center;
}

.form__wrapper-column-field input:not(.file) {
  border-radius: 15px;
  border: 1px solid hsl(0, 0%, 73%);
  font-size: 12px;
  padding: 0.5rem 1.2rem;
  height: 45px;
}

.form__wrapper-column-field label {
  font-size: 16px;
  font-weight: 500;
  width: 140px;
}
.form__wrapper-textarea label {
  font-size: 16px;
  font-weight: 500;
}

.form__wrapper-textarea {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form__wrapper-textarea textarea {
  border: 1px solid hsl(0, 0%, 73%);
  outline: none;
  padding: 0.5rem 1.2rem;
  font-size: 14px;
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.form__wrapper-button button {
  padding: 1rem 2.5rem;
  font-size: 20px;
  font-weight: 700;
  background-color: #bababa;
  border-radius: 20px;
  width: fit-content;
}
.form__wrapper-button p {
  font-size: 12px;
  color: #bababa;
}

.form__wrapper-button button:hover {
  background-color: #1f87ff;
  transition-duration: 0.2s;
  color: white;
}

.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.newsletter__form {
  padding: 32px;
  width: 100%;
  max-width: 760px;
  background-color: hsl(0, 0%, 96%);
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.newsletter__form-title {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  padding-right: 12px;
}

.newsletter__form-input {
  border: 1px solid hsl(0, 0%, 73%);
  border-radius: 20px;
  display: flex;
}

.newsletter__form-input input {
  font-size: 14px;
  color: black;
  justify-content: flex-start;
  height: 40px;
  width: 310px;
  padding: 0 19px;
  border-radius: 20px;
}

.newsletter__form-input input::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: black;
}
.newsletter__form-button {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #bababa;
  border-radius: 20px;
}

.newsletter__form-button button {
  height: 40px;
  padding: 0 19px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
}
.newsletter__form-button button:hover {
  background-color: #1f87ff;
  transition-duration: 0.2s;
  color: white;
}

.newsletter__caption {
  font-size: 12px;
  margin-top: 12px;
  color: #bababa;
}

.questionButton {
  width: 45px;
  height: 45px;
  bottom: 30%;
  z-index: 3;
  position: fixed;
  right: 5px;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.questionButton:hover {
  cursor: pointer;
}
.world-map_title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5rem;
}
.world-map_title b,
.world-map_title u {
  font-size: inherit; /* Inherit font size from parent .world-map_title */
}
#world-map_map {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}
.world-map_copyright {
  padding: 10px;
  font-size: 10px;
}
.world-map_country {
  fill: lightgray;
  stroke: #fff;
  stroke-width: 0.2px;
  cursor: pointer; /* Add cursor pointer on hover */
}

.world-map_highlighted {
  fill: #2e75b8;
}
.world-map_belarus {
  fill: green;
}
.world-map_selected {
  stroke: black;
  stroke-width: 1.2px;
}
.world-map_tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}
.FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FAQ_title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}
.question {
  width: 960px;
  height: 35px;
  background: #2e75b8;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
}
.question p {
  font-family: "Comfortaa", sans-serif;
  margin-left: 1rem;
  padding-top: 1rem;
  font-size: 18px;
  color: white;
}
.question a {
  font-family: "Comfortaa", sans-serif;
  padding-top: 0.4rem;
  padding-right: 1rem;
  margin-left: auto;
  font-size: 24px;
  color: white;
}
.question a:hover {
  cursor: pointer;
}

.question_extended {
  width: 930px;
  height: 493px;
  background: rgb(238, 234, 234);
  display: none;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  margin-left: 1.5%;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease-out,
    opacity 0.4s ease-out;
  opacity: 0;
}
.question_extended.expanded {
  opacity: 1;
}
.question_extended p {
  padding: 4rem;
}

.wrapperFooter {
  padding: 2.5rem 14rem 2.5rem 14rem;
}

.footer {
  width: 100%;
  height: 240px;
  background-color: #2e75b8;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  color: white;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.footer__logo-block {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.footer__logo-block-text {
  font-size: 18px;
}

.footer__logo-block-img {
  width: 55px;
}

.footer__logo-block-copyright {
  font-size: 14px;
  font-weight: 300;
  margin-left: 0.5rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
}
.footer__contacts-title {
  font-size: 20px;
  margin-bottom: 5px;
}
.footer__socials {
  display: flex;
  flex-direction: column;
}
.footer__lang-switch {
  display: flex;
  font-size: 18px;
}
.footer__lang-switch-text {
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 0rem;
}

.footer__lang-switch-text-rus {
  color: rgb(212, 212, 212);
}
.footer__socials-text {
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 0rem;
}

.footer__socials-icons {
  margin-top: 3rem;
  gap: 1rem;
  display: flex;
}

.client-map__first-part {
  display: flex;
  height: 250px;
  width: 1165px;
  font-weight: bold;
}

.client-map__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.client-map__image-block {
  background-color: red;
  height: 250px;
  width: 500px;
  border-radius: 5rem;
  -webkit-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  -moz-box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
  box-shadow: 5px 5px 15px 7px rgba(153, 153, 153, 0.49);
}

.client-map__first-arrow-block {
  height: 250px;
  width: 165px;
}

.first__text-block {
  position: relative;
  height: 250px;
  width: 500px;
}

.first__text {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client-map__second-part {
  display: flex;
  height: 250px;
  width: 1165px;
}

.client-map__second-arrow-block {
  height: 250px;
  width: 165px;
}

/* z-index */
.second__text-block {
  position: relative;
  height: 250px;
  width: 500px;
}

.second__text {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.client-map__first-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.reviews__content {
  justify-content: space-between;
  display: flex;
  height: 350px;
  width: 1155px;
}

.reviews__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.reviews__text-block {
  height: 350px;
  width: 500px;
  padding: 20px;
  background-color: rgb(212, 212, 212);
  border-radius: 60px;
  display: flex;
  align-items: center;
}

.reviews__text-main {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.reviews__text-secondary {
  font-size: 20px;
  font-weight: 400;
}

.reviews__video {
  height: 350px;
  width: 620px;
  background-color: aquamarine;
}
